<div class="blankmenuiconblock innerhead1">
  <app-header></app-header>
    <div class="container-fluid innerhead1_header">
    <div class="innerhead1_header_wrapper">
      <div class="innerhead1toplogowrapper">
        <img src="../assets/images/shatterproofmodelslogo.png" alt="Shatter Proof Models Logo">
      </div>
    </div>
  </div>
 </div>
<app-sidemenu></app-sidemenu>

<div class="becomeamemberbannerblock">
  <div class="becomeamemberbannertext">
    <h1 class="headertitle">Join The Team</h1>
    <p>Apply to become a part of our alluring team of models and become a member of the Shatterproof family.  Fill out the application, upload your photos, and link your social media accounts to start the process.  Upon approval, you will begin the process of becoming one of our beautiful ShatterProof Models.</p>
    <div class="btncheckshatterproof">
      <a class="btnpink uno" id="mybutton">Application Form</a>
    </div>
  </div>
</div>


<div class="becomeamemberblock1">
  <div class="becomeamemberblock1_wrapper_img">
    <img src="../assets/images/becomeamemberblock1_wrapper_img.png"  alt="#">
  </div>

  <div class="becomeamemberblock1_wrapper">
    <h1 class="headertitle">So you are interested<br>
      in becoming a<br>
      ShatterProof Model?<br>
      Do you have the drive?<br>
      We have a process.<br>
    </h1>

    <h2>First, upon approval of the application, you are immediately implemented into the ShatterProof
      promoter program. Promote on your social media accounts and get paid! You will be responsible for digital promotions, you will join an elite business group with other models in an affiliate program referred to as the ShatterBlok Model Ambassador Program. Everyone will be treated .like family; if one succeeds we all succeed.  The existing models in the program will begin promoting you as the newest member of the ShatterProof family and again the best part,<span>YOU GET PAID TO PROMOTE!</span></h2>

    <p>
      Once you have promoted 50 or more times, you are upgraded into a VIP Membership of ShatterProof Models, this is where your hard work has paid off.
      <span>Once a VIP member, you will begin being booked on sets, like music videos, major photo shoots, and commercials. You now are getting paid for not only the promotions you are doing but also from the bookings.  As well as becoming a known face in the ShatterBlok family. </span>
      So what are you waiting for?  Start filling out that application, the horizon on your career is endless.
    </p>

  </div>
</div>


<div class="becomeamemberblock2" id="div_id">

    <div class="formdivwrapper">
      <h1 class="headertitle">Submission Process</h1>
      <form>
        <div class="form-row">
          <div class="form-group col-xs-6 formpaddingright">
            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name*">
          </div>
          <div class="form-group col-xs-6">
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name*">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-sm-2 col-xs-4 formpaddingright">
            <input type="text" class="form-control" name="age" id="age" placeholder="Age*">
          </div>
          <div class="form-group col-sm-5 col-xs-8 formpaddingright">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="phone number*">
          </div>
          <div class="form-group col-sm-5 col-xs-12">
            <input type="text" class="form-control" name="email" id="email" placeholder="email address*">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-xs-5 formpaddingright">
            <input type="text" class="form-control" name="city" id="city" placeholder="city">
          </div>
          <div class="form-group col-xs-7">
            <input type="text" class="form-control" name="state" id="state" placeholder="state">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-xs-5 formpaddingright">
            <input type="text" class="form-control" name="ethnicity" id="ethnicity" placeholder="Ethnicity">
          </div>
          <div class="form-group col-xs-3 formpaddingright">
            <input type="text" class="form-control" name="height" id="height" placeholder="height">
          </div>
          <div class="form-group col-xs-4">
            <input type="text" class="form-control" name="eyecolor" id="eyecolor" placeholder="Eye Color">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-sm-3 col-xs-6 formpaddingright">
            <input type="text" class="form-control" name="haircolor" id="haircolor" placeholder="Hair Color">
          </div>
          <div class="form-group col-sm-3 col-xs-6 formpaddingright">
            <input type="text" class="form-control" name="weight" id="weight" placeholder="weight">
          </div>
          <div class="form-group col-sm-6 col-xs-12">
             <div class="form-row">
               <div class="form-group col-xs-4 formpaddingright measurementsdiv">
                 <label>Measurements:</label>
               </div>
               <div class="form-group col-xs-8">
                 <div class="form-row">
                   <div class="form-group col-xs-4 formpaddingright">
                     <input type="text" class="form-control" name="bust" id="bust" placeholder="Bust">
                   </div>
                   <div class="form-group col-xs-4 formpaddingright">
                     <input type="text" class="form-control" name="waist" id="waist" placeholder="waist">
                   </div>
                   <div class="form-group col-xs-4">
                     <input type="text" class="form-control" name="hips" id="hips" placeholder="Hips">
                   </div>
                 </div>
               </div>
             </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-sm-2 formpaddingright">
            <h2>Body Type:</h2>
          </div>
          <div class="form-group col-sm-10">
            <label class="checkbox-inline">
              <input type="checkbox" value="">Athletic
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Slim
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Toned
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Voluptuous
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Tattoos
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Piercings
            </label>
          </div>
        </div>
        <div class="clearfix"></div>
        <h2>Years of Experience:</h2>
        <div class="form-row">
          <div class="form-group col-xs-4 formpaddingright">
            <input type="text" class="form-control" name="promotions" id="promotions" placeholder="promotions">
          </div>
          <div class="form-group col-xs-4 formpaddingright">
            <input type="text" class="form-control" name="sales" id="sales" placeholder="sales">
          </div>
          <div class="form-group col-xs-4">
            <input type="text" class="form-control" name="retail" id="retail" placeholder="retail">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-xs-12">
            <textarea class="form-control" name="descriptionbox" id="validationTextarea" placeholder="Description Box" rows="3" required></textarea>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row socilamediafield">
          <div class="form-group col-sm-6 col-xs-12 formpaddingright">
            <div class="socialmediafieldinner">
              <img src="../../assets/images/socialicon-fb.png" alt="socialicon-fb">
              <input type="url" class="form-control" name="facebooklink" id="facebooklink" placeholder="facebook link">
            </div>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <div class="socialmediafieldinner">
              <img src="../../assets/images/socialicon-ins.png" alt="socialicon-ins">
              <input type="url" class="form-control" name="instagramlink" id="instagramlink" placeholder="instagram link">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row socilamediafield">
          <div class="form-group col-sm-6 col-xs-12 formpaddingright">
            <div class="socialmediafieldinner">
              <img src="../../assets/images/socialicon-twit.png" alt="socialicon-twit">
              <input type="url" class="form-control" name="twitterlink" id="twitterlink" placeholder="Twitter Link">
            </div>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <div class="socialmediafieldinner">
              <img src="../../assets/images/modelmayhemlink.png" alt="modelmayhemlink">
              <input type="url" class="form-control" name="modelmayhemlink" id="modelmayhemlink" placeholder="Model Mayhem Link">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-row">
          <div class="form-group col-sm-12 text-right btncheckshatterproofwrappper">
            <div class="btncheckshatterproof">
              <button class="btnyellow" onclick="myFunction()">Submit</button>
            </div>
          </div>
        </div>

      </form>
    </div>
</div>



<app-footer></app-footer>

<!--Sucess Subission Modal---->
<!-- The Modal -->
<div id="mysuccessapplication" class="modal mysuccessapplication">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-body">
      <span class="close">&times;</span>

      <p>Thank you for submitting your Application for a chance to be a part of ShatterProof’s Model/Talent’s Team! We will review your form as soon as possible and respond with details on your opportunity regarding what steps may come next! </p>
    </div>
  </div>

</div>

<script type="text/javascript">
    function myFunction() {
        var popup = document.getElementById("mysuccessapplication");
        popup.classList.toggle("show");
    }
</script>
