<div class="blankmenuiconblock innerhead1">
  <app-header></app-header>
  <div class="container-fluid innerhead1_header">
    <div class="innerhead1_header_wrapper">
      <div class="innerhead1toplogowrapper">
        <img src="../assets/images/shaterblockLogo.png" alt="Shatter blok Logo">
      </div>
    </div>
  </div>
</div>
<app-sidemenu></app-sidemenu>

<div class="container-fluid musicvideoblock1">
  <div class="musicvideoblock1wrapper">
    <div class="musicvideoblock1videowrapper">
      <div class="musicvideoblock1-video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LdE3WlQ__GY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <h2>Music Video Bookings</h2>
    <p>We Get Our Models on Music Videos on Consistent Basis!
      Check out some of the music videos we  have associated with
    </p>
  </div>
</div>




<app-footer></app-footer>